/*通用部分*/
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: black;
    font-family: '幼圆';
}
a,a:hover,a:visited,a:link {
    color: black;
    text-decoration: none;

}
a:hover {
    color: red;
    text-decoration: underline;
}
ul, li {
    list-style: none;
}

/*head*/
#zongti{width: 1519px;height:1650px;}
#header{width:1000px;height:149px;}
#one{width:1519px;height:30px;background-color: #c3c3c3;}
#one ul li{
	float:left;
	padding-right: 50px;

}
#one #n{padding-left:400px; }
#tu{float:left;padding-left: 400px;}
#reserch{padding-top:15px;}
#daohang{width: 250px;
	height: 25px;
	background: white;
	border:2px solid #FF0080; 
}
#re{width: 100px;
	height: 29px;
	background-color: #FF0080;
	color: white;
	border: 2px solid #FF0080;
	position: relative;
	right: 6px;
}
#first{width:1519px;height:40px;background-color:#FF0080 ;padding-top: 20px;margin-top: 30px;}
#first ul li{
	float:left;
	padding-right: 50px;

}
#first ul li a{font-weight: bold;font-size: 20px;color:white;font-family: '宋体'；}
#first #m{padding-left: 200px;}
#first #z{color:black;}
/*concent*/
#concent{width:1519px;height:1500;}
#top{width:1519px;height:700px;}
#left{ width:250px;height:700px;margin-left: 250px;float:left;}
#left #geren{margin-top: 70px;}
#left #geren h1{font-family: '宋体';font-size: 30px;font-weight: bold ;color:black;}
#liebiao{margin-top: 20px;padding-top: 20px;}
#liebiao ul li{padding-top: 30px;}
#liebiao ul li a{font-size: 20px;color:black;}
#liebiao #z{color:#FF0080;font-weight: bold;}
#center{width:840px;height:700px;margin-left: 29px;margin-right: 150px;float:left;}

#center #dingdan {margin-top: 70px;}
#center #dingdan ul li {float:left;padding-left: 30px;}
#center #dingdan ul li a {font-size: 30px;font-family: '宋体';font-weight: bold ;
color:black;}
#center #dingdan #shou{color:red;}
#biao{margin-top: 200px;}

#under{width:1519px;height:800px;}
#under h1{font-size: 25px; font-weight: bold;color:black;}
#xihuan{margin-top: 50px; margin-left: 250px;}

#lan{width:260px;height:330px;border:2px solid white;margin-left: 125px;margin-top: 50px;margin-right: 0px;margin-bottom: 0px;
float:left;}
#lan h1{color:#88F6F7;font-size: 20px;text-align: center;padding-top: 5px;}
#lan #anniu{width:100px;height:25px;margin-left: 70px;margin-top: 15px;background-color:#FAC040 ;}

#dior{width:260px;height:330px;border:2px solid white;margin-left: 50px;margin-top: 50px;margin-right: 0px;margin-bottom: 0px;
float:left;}
#dior h1{color:#88F6F7;font-size: 20px;text-align: center;padding-top: 5px;}
#dior #anniu{width:100px;height:25px;margin-left: 70px;margin-top: 15px;background-color:#FAC040 ;}








/*页尾*/
#last{width:1519px;height:100px; background-color: #2B2B2B;}
#guanyu{width:1519px;height:30px;background-color: black;}
#guanyu ul li{padding-left: 150px;float:left;}
#guanyu ul li a{font-size: 20px;color:white;font-family: '宋体'；}
#shuoming{padding-left: 200px;}
#shuoming p{font-size: 12px;color:white;font-family: '幼圆'}